.main-panel-morning, .main-panel-night, .main-panel-midday {
  border-radius: 30px;
  border: 1px solid black;
}

.main-panel-night {
  background: rgba(2, 53, 53, 0.31);
  color: #dfdfdf;
}

.main-panel-morning {
  background: rgba(186, 210, 210, 0.31);
}

.main-panel-midday {
  background: rgba(0, 0, 0, 0.31);
  color: white;
}
