<div class="min-vh-100 text-center d-flex flex-column justify-content-center align-items-center">
  <div id="main-panel" class="row" [ngClass]="'main-panel-' + this.currentBackground">
    <div class="front-information col-4">
      <app-front-information
        [frontInformation]="this.frontWeatherData"
        (updateWeather)="onWeatherAsk()"></app-front-information>
    </div>
    <div class="additional-information col-8">
      <app-additional-information [additionalInfo]="this.additionalInformation"></app-additional-information>
    </div>
  </div>
</div>
