.atmosphere-block img {
  width: 64px;
  height: 64px;
  margin: 5px;
}

.temperature-block {
  margin-bottom: 15px;
}

.temperature-block img {
  width: 128px;
  height: 128px;
  margin-top: 5px;
}

.center-in-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
}

.center-in-col {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.tmp-header {
  font-size: 27px;
  font-weight: bold;
}

.atmosphere-header {
  font-size: 20px;
  font-weight: bold;
}

