<div *ngIf="this.additionalInfo != null">
  <div class="temperature-block row flex-grow-1">
    <div class="col-md-5">
      <div class="container-fluid d-flex h-100 flex-column">
        <div class="row justify-content-center">
          <p class="tmp-header">Feels like</p>
        </div>
        <div class="row flex-grow-1 center-in-row">
          <p style="font-size: 27px">{{this.additionalInfo.feelsLike}} &#8451;</p>
        </div>
      </div>
    </div>
    <div class="col-md-2 center-in-col">
      <img src="./assets/icon-panel/thermometer.png" alt="Thermometer not Found">
    </div>
    <div class="col-md-5">
      <div class="container-fluid d-flex h-100 flex-column">
        <div class="row justify-content-center">
          <p class="tmp-header">Min | Max</p>
        </div>
        <div class="row flex-grow-1 center-in-row">
          <p style="font-size: 27px">{{this.additionalInfo.tempMin}} | {{this.additionalInfo.tempMax}} &#8451;</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="border: solid 1px"></div>
  <div class="atmosphere-block row flex-grow-1">
    <div class="container-fluid d-flex h-100 flex-column">
      <div class="row flex-grow-1">
        <div class="col-md-6">
          <p class="atmosphere-header">Cloudiness</p>
          <div class="center-in-row">
            <img src="./assets/icon-panel/cloudy.png" alt="Cloudiness not found">
            <p>{{this.additionalInfo.cloudiness}}%</p>
          </div>
        </div>
        <div class="col-md-6">
          <p class="atmosphere-header">Pressure</p>
          <div class="center-in-row">
            <img src="./assets/icon-panel/pressure.png" alt="Pressure not found">
            <p>{{this.additionalInfo.pressure}}hPa</p>
          </div>
        </div>
      </div>
      <div class="row flex-grow-1 justify-content-center flex-column">
        <p class="atmosphere-header">Humidity</p>
        <div class="center-in-row">
          <img src="./assets/icon-panel/humidity.png" alt="Humidity not found">
          <p>{{this.additionalInfo.humidity}}%</p>
        </div>
      </div>
    </div>
  </div>
</div>


