<div *ngIf="this.currentBackground != null"
     class="container-fluid weather-background"
     [style.background-image]="'url(./assets/backgrounds/' + this.currentBackground + '.jpg)'">
  <app-weather-panel [currentBackground]="this.currentBackground"></app-weather-panel>
</div>


