<div *ngIf="this.frontInformation != null" class="container-fluid d-flex h-100 flex-column">
  <div class="row flex-grow-1 justify-content-center align-items-center">
    <div class="col-md-6">
      <p id="condition">{{this.frontInformation.condition}}</p>
    </div>
    <div class="col-md-6">
      <img src="http://openweathermap.org/img/wn/{{this.frontInformation.iconId}}@2x.png" alt="Icon not Found">
    </div>
  </div>
  <div class="row flex-grow-1 flex-column">
    <span id="tmp">{{this.frontInformation.temperature}} &#8451;</span>
    <button class="btn btn-info" (click)="onUpdateWeather()">Update Weather</button>
  </div>
  <div class="row flex-grow-1 justify-content-md-end align-items-end">
    <p id="update">Wrocław, {{this.frontInformation.lastUpdate}}</p>
  </div>
</div>
